#master {
    font-size: 2.7em;
    font-family: Verdana;
    text-align: center;
}

#master > a {
    color: #ffffff;
}

#master > a:hover {
    text-decoration: none;
}



#skin {
    margin-left: 10em;
    font-size: 1.3em;
};

#search-form {
    font-size: 1.3em;
};